@font-face {
    font-family: "HelveticaNeue-Light";
    font-style: normal;
    font-weight: 100;
    src: url("HelveticaNeue-Light.woff") format("woff");
}

@font-face {
    font-family: "HelveticaNeue-Thin";
    font-style: normal;
    font-weight: 100;
    src: url("HelveticaNeue-Thin.woff") format("woff");
}


body{
  font-weight: 200;
  padding:0;
  margin:0;
  background: #fff;
  font-family:"HelveticaNeue-Thin", Helvetica, Arial, sans-serif; 
  color:white;
}


section {
  overflow: hidden;
  background-color: white;
}

.bg-wrap{
  position: relative;
  overflow: hidden;
}

.slide-content{
  position: absolute;
  width: 100%;
  top:0;
  left:0;
}

p {
  font-size: 40px;
}

h3 {
  color:#333;
  font-size: 24px;
  text-align: center;
  font-weight: 200;
  margin: 35px 0 56px;
  line-height: 1.5em;
}

.fh {
  height: 100%;
}

ul.bgs{
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  overflow: hidden;
  top:0;
}

ul.bgs li{
  list-style: none;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

ul.bgs .bg-1{
  background-image:url('../img/bg/1.jpg');
}

ul.bgs .bg-2{
  background-image:url('../img/bg/2.jpg');
}

ul.bgs .bg-3{
  background-image:url('../img/bg/3.jpg');
}

ul.bgs .bg-4{
  background-image:url('../img/bg/4.jpg');
}

.hand {
  background-image: url('../img/hand.png');
  background-repeat: no-repeat;
  background-size: 391px 515px;
  background-position: 40px bottom;
  position: relative;
}

.hand .screenshot-wrap{
  position: absolute;
  width: 207px;
  height: 364px;
  bottom: 94px;
  left: 101px;
  overflow: hidden;
}

.hand .screenshot{
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.hand .screenshot li{
  width: 207px;
  height: 364px;
  background-size: 207px 364px;
  background-repeat: no-repeat;
  list-style: none;
  margin: 0;
  padding: 0;
}

.screenshot-1 {
  background-image: url('../img/screenshots/mob01.png');
}

.screenshot-2 {
  background-image: url('../img/screenshots/mob02.png');
}

.screenshot-3 {
  background-image: url('../img/screenshots/mob03.png');
}

.screenshot-4 {
  background-image: url('../img/screenshots/mob04.png');
}

.logo{
  background-image: url('../img/logo.png');
  background-repeat: no-repeat;
  background-size: 308px 75px;
  width: 308px;
  height: 75px;
  margin: 125px 0 65px;
}

.page-ctrl{
  position: absolute;
  width: 34px;
  bottom: 20px;
  right:20px;
  margin: 0;
  padding: 0;
}

.page-ctrl-active li div{
  border:2px solid #666 !important;
}

.page-ctrl-active li.active div{
  background-color: #666 !important;
}

.page-ctrl li{
  width: 34px;
  height: 34px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 11px;
}

.page-ctrl li div{
  width: 12px;
  height: 12px;
  border:2px solid white;
  border-radius: 6px;
  background-color: transparent;
}

.page-ctrl li.active div{
  background-color: white;
}

.description{
  margin: 0 0 100px;
  padding: 0;
  position: relative;
  height: 120px;
}

.description li{
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  top: 40px;
  width: 100%;
  opacity: 0;
}

.btn-download{
  width: 196px;
  height: 56px;
  background-image: url('../img/download-badge.png');
  background-size: 196px 56px;
  background-repeat: no-repeat;
  display: block;
}

.btn-download-dark{
  margin: 80px auto 0;
  background-image: url('../img/download-badge-dark.png');
}

.logo-v{
  height: 147px;
  background-size: 156px 147px;
  background-repeat: no-repeat;
  background-image: url('../img/logov.png');
  background-position: center;
  margin-top: 100px;
}

.feature p{
  color: #666;
  font-size: 18px;
  text-align: center;
}
.feature .icon{
  background-repeat: no-repeat;
  background-position: center;
  height: 40px
}

.sync .icon{
  background-image: url('../img/icon_sync.png');
  background-size: 40px 26px;
}

.three-d .icon{
  background-image: url('../img/icon_3D.png');
  background-size: 36px 36px;
}

.budget .icon{
  background-image: url('../img/icon_budget.png');
  background-size: 27px 33px;
}

.widget .icon{
  background-image: url('../img/icon_widget.png');
  background-size: 33px 35px;
}

.feature h3{
  margin: 15px 0 15px;
}


@media (max-width: 800px) {
  .logo {
    background-size: 246px 60px;
    width: 246px;
    height: 60px;
    margin: 100px 0 52px;
  }

  p{
    font-size: 32px;
  }

  .hand {
    background-size: 313px 412px;
    background-position: 32px bottom;
  }

  .hand .screenshot-wrap{
    width: 166px;
    height: 291px;
    bottom: 75px;
    left: 81px;
  }

  .hand .screenshot li{
    width: 166px;
    height: 291px;
    background-size: 166px 291px;
  }

  .logo-v{
    height: 118px;
    background-size: 125px 118px;
    margin-top: 60px;
  }

  .feature p{
    font-size: 16px;
  }

  h3{
    font-size: 19px;
    margin: 28px 0 45px;
  }

  .feature .icon{
    background-repeat: no-repeat;
    background-position: center;
    height: 32px
  }

  .sync .icon{
    background-image: url('../img/icon_sync.png');
    background-size: 32px 21px;
  }

  .three-d .icon{
    background-image: url('../img/icon_3D.png');
    background-size: 29px 29px;
  }

  .budget .icon{
    background-image: url('../img/icon_budget.png');
    background-size: 22px 26px;
  }

  .widget .icon{
    background-image: url('../img/icon_widget.png');
    background-size: 26px 28px;
  }

  .feature h3{
    margin: 10px 0 10px;
  }

  .btn-download{
    width: 157px;
    height: 45px;
    background-size: 157px 45px;
  }

  .btn-download-dark{
    margin: 64px auto 0;
  }
}


@media (max-width: 767px) {
  .logo {
    background-size: 197px 48px;
    width: 197px;
    height: 48px;
    margin: 0 auto 20px;
  }

  .left{
    padding-top: 40px;
  }

  .description{
    text-align: center;
    margin-bottom: 20px;
  }

  .btn-download{
    margin: 20px auto;
  }

  p {
    font-size: 20px;
  }

  .hand {
    background-size: 282px 370px;
    background-position: 40px bottom;
  }
  

  .hand .screenshot-wrap{
    width: 149px;
    height: 262px;
    bottom: 68px;
    left: 84px;
  }

  .hand .screenshot li{
    width: 149px;
    height: 262px;
    background-size: 149px 262px;
  }

  

  .logo-v{
    height: 94px;
    background-size: 100px 94px;
    margin-top: 40px;
  }

  .feature p{
    font-size: 12px;
  }

  h3{
    font-size: 15px;
    margin: 22px 0 36px;
  }

  .feature .icon{
    background-repeat: no-repeat;
    background-position: center;
    height: 27px
  }

  .sync .icon{
    background-image: url('../img/icon_sync.png');
    background-size: 27px 17px;
  }

  .three-d .icon{
    background-image: url('../img/icon_3D.png');
    background-size: 23px 23px;
  }

  .budget .icon{
    background-image: url('../img/icon_budget.png');
    background-size: 18px 21px;
  }

  .widget .icon{
    background-image: url('../img/icon_widget.png');
    background-size: 21px 22px;
  }

  .feature h3{
    margin: 5px 0;
  }

  .btn-download{
    width: 126px;
    height: 36px;
    background-size: 126px 36px;
  }

  .btn-download-dark{
    margin: 30px auto 0;
  }
}

@media (max-height: 700px) {
  .hand {
    background-size: 254px 333px;
    background-position: 40px bottom;
  }
  

  .hand .screenshot-wrap{
    width: 134px;
    height: 236px;
    bottom: 60px;
    left: 80px;
  }

  .hand .screenshot li{
    width: 134px;
    height: 236px;
    background-size: 134px 236px;
  }
}

@media (max-height: 600px) {
  .hand {
    background-size: 160px 211px;
    background-position: 50px bottom;
  }

  .hand .screenshot-wrap{
    width: 85px;
    height: 149px;
    bottom: 39px;
    left: 75px;
  }

  .hand .screenshot li{
    width: 85px;
    height: 149px;
    background-size: 85px 149px;
  }

  .logo-v{
    height: 75px;
    background-size: 80px 75px;
    margin-top: 20px;
  }

  .feature p{
    font-size: 12px;
  }

  h3{
    font-size: 14px;
    margin: 10px 0 20px;
  }

  .feature .icon{
    background-repeat: no-repeat;
    background-position: center;
    height: 22px
  }

  .sync .icon{
    background-image: url('../img/icon_sync.png');
    background-size: 22px 14px;
  }

  .three-d .icon{
    background-image: url('../img/icon_3D.png');
    background-size: 14px 14px;
  }

  .budget .icon{
    background-image: url('../img/icon_budget.png');
    background-size: 14px 17px;
  }

  .widget .icon{
    background-image: url('../img/icon_widget.png');
    background-size: 17px 18px;
  }

  .feature h3{
    margin: 5px 0;
  }

  .btn-download{
    width: 126px;
    height: 36px;
    background-size: 126px 36px;
  }

  .btn-download-dark{
    margin: 30px auto 0;
  }
}

@media (max-height: 500px) {
  .hand {
    background-size: 137px 180px;
    background-position: 50px bottom;
  }

  .hand .screenshot-wrap{
    width: 73px;
    height: 127px;
    bottom: 32px;
    left: 71px;
  }

  .hand .screenshot li{
    width: 73px;
    height: 127px;
    background-size: 73px 127px;
  }
}

@media (max-height: 374px) {
  .hand {
    background-size: 116px 153px;
    background-position: 50px bottom;
  }

  .hand .screenshot-wrap{
    width: 62px;
    height: 108px;
    bottom: 28px;
    left: 68px;
  }

  .hand .screenshot li{
    width: 62px;
    height: 108px;
    background-size: 62px 108px;
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  
    /* Retina-specific stuff here */
    .logo{background-image: url('../img/logo@2x.png');}
    .btn-download{background-image: url('../img/download-badge@2x.png');}
    .btn-download-dark{background-image: url('../img/download-badge-dark@2x.png');}
    .hand{background-image: url('../img/hand@2x.png');}
    .screenshot-1 {background-image: url('../img/screenshots/mob01@2x.png');}
    .screenshot-2 {background-image: url('../img/screenshots/mob02@2x.png');}
    .screenshot-3 {background-image: url('../img/screenshots/mob03@2x.png');}
    .screenshot-4 {background-image: url('../img/screenshots/mob04@2x.png');}
    .logo-v{background-image: url('../img/logov@2x.png');}
    .sync .icon{background-image: url('../img/icon_sync@2x.png');}
    .three-d .icon{background-image: url('../img/icon_3D@2x.png');}
    .budget .icon{background-image: url('../img/icon_budget@2x.png');}
    .widget .icon{background-image: url('../img/icon_widget@2x.png');}
}